<div class="w-full h-full">
  <p-select
    *ngIf="!multiply"
    [options]="dropdownOptions"
    [lazy]="true"
    (onShow)="onDropdownOpen()"
    (onHide)="onDropdownClose()"
    [filter]="true"
    [placeholder]="placeholder"
    appendTo="body"
    optionLabel="label"
    [(ngModel)]="selectedOption"
    (onChange)="onOptionSelect($event)"
    [disabled]="disable"
    [showClear]="true"
    class="w-full h-full flex items-center"
  ></p-select>

  <p-multiSelect
    *ngIf="multiply"
    [options]="dropdownOptions"
    [lazy]="true"
    (onPanelShow)="onDropdownOpen()"
    (onPanelHide)="onDropdownClose()"
    [filter]="true"
    [showClear]="true"
    [placeholder]="placeholder"
    appendTo="body"
    optionLabel="label"
    [(ngModel)]="selectedOption"
    (onChange)="onOptionSelect($event)"
    [disabled]="disable"
    class="w-full h-full flex items-center"
  ></p-multiSelect>
</div>
