// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use './tailwind.css';
@use '@angular/material' as mat;

@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #ebebeb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #d8e2e4;
}

*::-webkit-scrollbar-track:active {
  background-color: #e7dada;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-color); /* PrimeNG primary */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Lighter primary */
  opacity: 0.7;
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color); /* Darker primary */
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-menu {
  padding: 8px;
}
.custom-menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.bg-surface-overlay {
  background-color: var(--surface-overlay);
}

.border-primary {
  border-color: var(--primary-color);
}

.mat-mdc-dialog-surface {
  background: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
